*{
    box-sizing: border-box;
    font-family: sans-serif;
}

button, a, img, p{
    cursor: pointer;
}

body {
    background-color: lightgrey;
    transition: 0.5s ease-in-out;
}

.valresult .resultima{
    padding: 10px;
}

.online {
    position: absolute;
    bottom: 15px;
    left: 11.3px;
    transition: 0.9s ease-in-out;
}

.online .mbox img {
    background-color: white;
    color: black;
    color: rgb(4, 163, 4);
    font-weight: bolder;
    transition: 0.5s ease-in-out;
    border-radius: 5px;
}


.lovecalculator {
    width: 550px;
    padding: 5px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.heading {
    width: 95%;
    margin: auto;
    margin-top: 2%;
    padding: 0px 5px;
    border-radius: 5px;
    background-color: white;
    color: red;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.side1 p {
    background-color: red;
    color: white;
    padding: 8px 8px;
    border-radius: 5px;
    text-transform: capitalize;
}

.menu .side p{
    color: red;
    padding: 8px 8px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .lovecalculator {
        width: 95%;
    }
}





.form {
    width: 100%;
}

.form label {
    color: red;
    font-size: small;
}

.form .inputs {
    padding: 20px;
}

.form .inputs input {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px 8px;
    border: 5px;
    outline: none;
    border: 1px solid #141414;
}

.form .inputs button {
    display: block;
    width: 100%;
    border-radius: 5px;
    color: white;
    margin: 20px auto;
    background-color: rgba(255, 0, 0, 0.322);
    padding: 20px 8px;
    border: 5px;
    outline: none;
}

.form .inputs button:hover{
    background-color: red;
    transition: 0.5s ease-in-out;
}


.form .inputs input:focus{
    border: 1px solid red;
    transition: 0.5s ease-in-out;
}

.resultima {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
}

.resultima img {
    width: 100%;
    height: auto;
}

#devlo {
    position: absolute;
    right: 20px;
    display: none;
    padding: 5px;
    background-color: white;
    transition: 0.5s ease-in;
}

#devlo a {
    font-weight: normal;
    display: block;
    margin: 5px;
    text-decoration: none;
    color: #141414;
    font-weight: 400;
    background-color: lightgray;
    text-align: center;
    padding: 8px 5px;
    font-size: 13px;
    padding: 15px 35px;
    border-radius: 5px;
}

#rsa {
    display: none;
}

#percent {
    padding: 8px 8px;
    background-color: red;
    color: white;
}


